.main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.top {
  height: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.center{
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
