html, body {
  background: #ffffff;
  margin: 0;
  height: 100%;
}

body > div {
  height: 100%;
  max-width: 960px;
    margin: 0px auto;
    padding: 40px 20px;
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 100%;
}

.row {  
  flex-wrap: wrap;
  height: 100%;
  display: flex;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  
}

 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
  border-radius: 15px;
  background: #fdfdfd;
}
ul li {
  max-width: none;
    justify-content: left!important;
    text-decoration: none;
    list-style: none;
    margin: 0 15px;
    padding: 10px 0;
}

ul li > p > span {
  display: block;
}
.animeLoadingData {
  color: #f9f9f9;
  background: #f9f9f9;
  min-width: 150px;
  display: block;
}

.form {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  margin: 15px 0;
}

.ticketNumber {
  margin: 15px;
}

.ticketTitle, .ticketDescription {
  max-width: 100%;
  width: 100%;
  min-height: 40px;
    align-items: center;
    display: inline-flex;
}

.containerSearchTop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.containerSearchTop input {
  background: #f8f8f8;
}

.containerSearch {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.inputSearch {
  padding: 10px 25px 10px 70px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 5%);
  color: #888888;
  }

  .hashtagSearch {
    position: absolute;
    left: 0;
    padding: 10px 25px;
    background: #f8f8f8;
    border-radius: 15px 0 0 15px;
    height: 100%;
    color: #909090;
  }
  
  /* Loading */
  
  .animeLoadingData {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    animation: animeLoadingData 0.5s cubic-bezier(0.65, 0.15, 1, 1) infinite;
    animation-direction: alternate;
    border-radius: 0;
    max-height: 5px;
    min-width: 200px;
    margin: 5px 0;
  }
  .animeLoading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    animation: animeLoading 0.8s cubic-bezier(0.65, 0.15, 1, 1) infinite;
    animation-delay: 1s;
    animation-direction: alternate;
  }

  

  @keyframes animeLoadingData {
    0% {
      background-color: #f5f5f5;
    }
    50% {
      background-color: #f9f9f9;
    }
  }
  
  @keyframes animeLoading {
    0% {
      background-color: #ffffff;
    }
    100% {
      background-color: #f5f5f5;
    }
  }

  .ldsDualRing {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .ldsDualRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #e8e8e8;
    border-color: #e8e8e8 transparent #e8e8e8 transparent;
    animation: ldsDualRing 1.2s linear infinite;
  }
  @keyframes ldsDualRing {
    0% {
      
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadingElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
    border-radius: 15px;
    background: #fdfdfd;
  }

  .loadingElement p {
    text-align: center;
    width: 100%;
    padding: 15px 0;
  }

  
