
.form {
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 15px 0;
}

 .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
 input[name='search'] {
  padding: 10px 25px 10px 70px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 5%);
  color: #888888;
}

 .hashtag {
  position: absolute;
  left: 0;
  padding: 10px 25px;
  background: #f8f8f8;
  border-radius: 15px 0 0 15px;
  height: 100%;
  color: #909090;
}

.button {
  position: absolute;
  right: 0;
  padding: 9px 25px;
  border-radius: 0 15px 15px 0;
  height: 100%;
  border: 0;
  text-decoration: none;
  background: #313131;
  color: #fff;
  font-weight: bolder;
}

.button:hover {
  background: #000000;
  cursor: pointer;
}